# Query 4 - Covid 19 Class Project 1 – Group 5

# Query is used for generating smaller csv files from the original:  COVID_19_time_series_clean_complete_All_Data.csv

## CSV files generated: COVID_19_time_series_clean_by_country_byDay_conf_deaths_recovered COVID_19_time_series_clean_by_global_monthly

In [12]:
import json
import requests 
import numpy as np
import requests
from scipy.stats import linregress
import pprint as pprint
import pandas as pd
import datetime
import matplotlib.pyplot as plt
from citipy import citipy
# from api_keys import weather_api_key
# from api_keys import g_key
import time as time
#import wget as wget

In [13]:
file_to_load = "csv_files/COVID_19_time_series_clean_complete_All_Data.csv"
covid_19 = pd.read_csv(file_to_load)
confirmed_19_df = pd.DataFrame(covid_19)
del confirmed_19_df["Unnamed: 0"]
confirmed_19_df

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered
0,2020-01-22,Afghanistan,0,0,0.0,0.0,0,0,0
1,2020-01-22,Albania,0,0,0.0,0.0,0,0,0
2,2020-01-22,Algeria,0,0,0.0,0.0,0,0,0
3,2020-01-22,Andorra,0,0,0.0,0.0,0,0,0
4,2020-01-22,Angola,0,0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...
89657,2021-05-02,Vietnam,2962,35,2549.0,378.0,20,0,1
89658,2021-05-02,West Bank and Gaza,297638,3272,275392.0,18974.0,1176,23,3059
89659,2021-05-02,Yemen,6341,1233,2875.0,2233.0,16,4,81
89660,2021-05-02,Zambia,91693,1253,90082.0,358.0,23,2,70
89661,2021-05-02,Zimbabwe,38281,1570,35634.0,1077.0,21,2,14

In [14]:
confirmed_19_df.dtypes

Date               object
Country/Region     object
Confirmed           int64
Deaths              int64
Recovered         float64
Active            float64
New cases           int64
New deaths          int64
New recovered       int64
dtype: object

In [15]:
# Date from sting to datetime
confirmed_19_df['Date'] = pd.to_datetime(confirmed_19_df['Date'])
confirmed_19_df

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered
0,2020-01-22,Afghanistan,0,0,0.0,0.0,0,0,0
1,2020-01-22,Albania,0,0,0.0,0.0,0,0,0
2,2020-01-22,Algeria,0,0,0.0,0.0,0,0,0
3,2020-01-22,Andorra,0,0,0.0,0.0,0,0,0
4,2020-01-22,Angola,0,0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...
89657,2021-05-02,Vietnam,2962,35,2549.0,378.0,20,0,1
89658,2021-05-02,West Bank and Gaza,297638,3272,275392.0,18974.0,1176,23,3059
89659,2021-05-02,Yemen,6341,1233,2875.0,2233.0,16,4,81
89660,2021-05-02,Zambia,91693,1253,90082.0,358.0,23,2,70
89661,2021-05-02,Zimbabwe,38281,1570,35634.0,1077.0,21,2,14

In [16]:
confirmed_19_df_groupby = confirmed_19_df.set_index("Date").groupby("Country/Region").resample("M")
confirmed_19_df_groupby

Global By Country and Month

In [17]:
covid_new_cases_by_month = confirmed_19_df_groupby.sum()
del covid_new_cases_by_month["Confirmed"]
del covid_new_cases_by_month["Recovered"]
del covid_new_cases_by_month["Active"]
del covid_new_cases_by_month["Deaths"]
covid_new_cases_by_month

                           New cases  New deaths  New recovered
Country/Region Date
Afghanistan    2020-01-31          0           0              0
               2020-02-29          1           0              0
               2020-03-31        174           4              5
               2020-04-30       1952          60            255
               2020-05-31      13081         194           1068
...                              ...         ...            ...
Zimbabwe       2021-01-31      19521         854          14794
               2021-02-28       2701         246           6622
               2021-03-31        793          60           2020
               2021-04-30       1375          44            926
               2021-05-31         24           3             22

[3264 rows x 3 columns]

Monthly Amounts - New Cases, Deaths, and Recoved

In [18]:
covid_new_cases_by_month.to_csv('COVID_19_time_series_clean_by_country_byDay_conf_deaths_recovered.csv')

In [19]:
confirmed_19_df_groupby = confirmed_19_df.set_index("Date").resample("M")
confirmed_19_df_groupby
covid_new_cases_by_month_v2 = confirmed_19_df_groupby.sum()
del covid_new_cases_by_month_v2["Confirmed"]
del covid_new_cases_by_month_v2["Recovered"]
del covid_new_cases_by_month_v2["Active"]
del covid_new_cases_by_month_v2["Deaths"]
covid_new_cases_by_month_v2

            New cases  New deaths  New recovered
Date
2020-01-31       9370         196            192
2020-02-29      76086        2729          38101
2020-03-31     789811       41586         136328
2020-04-30    2437845      192893         815937
2020-05-31    2912776      137621        1595570
2020-06-30    4274173      133145        2695284
2020-07-31    7146963      167330        4985786
2020-08-31    7905849      175570        6435746
2020-09-30    8510721      163905        6831774
2020-10-31   12130534      181802        7097564
2020-11-30   17314553      274829        9614001
2020-12-31   20148910      353389        6268994
2021-01-31   19467764      411058        9819413
2021-02-28   11152383      297478        7210758
2021-03-31   14796513      282700        8583314
2021-04-30   22506624      364155       14896382
2021-05-31    1102860       22527        1061863

In [20]:
covid_new_cases_by_month_v2.to_csv('COVID_19_time_series_clean_by_global_monthly.csv')