In [1]:
# apps
import pandas as pd
import numpy as np

In [13]:
# get data sets
path_gdp = "../Resources/gdp-csv.csv"
path_pop = "../Resources/WorldPopulation.csv"
path_locs = "../Resources/time_series_covid_19_deaths.csv"

gdp_raw_df = pd.read_csv(path_gdp)
#gdp_raw_df.head(15)
pop_raw_df = pd.read_csv(path_pop)
#pop_raw_df.head(15)
locs_raw_df = pd.read_csv(path_locs)
#locs_raw_df.head(15)

In [15]:
# get just desired columns
#gdp
gdp_gdp_2019 = []
gdp_country_2019 = []
gdp_code_2019 = []

counter = len(gdp_raw_df["Unnamed: 63"])
#print(counter)

for i in np.arange(counter):
    gdp = gdp_raw_df["Unnamed: 63"][i]
    gdp_gdp_2019.append(gdp)  
    country = gdp_raw_df["Data Source"][i]
    gdp_country_2019.append(country)
    code = gdp_raw_df["World Development Indicators"][i]
    gdp_code_2019.append(code)

#gdp df
gdp_raw_2019_df = pd.DataFrame({"Country": gdp_country_2019,
                                "Code": gdp_code_2019,
                                "2019 GDP":gdp_gdp_2019
                                })

gdp_raw_2019_df.head(15)

                 Country          Code      2019 GDP
0                    NaN           NaN           NaN
1      Last Updated Date     4/26/2021           NaN
2                    NaN           NaN           NaN
3           Country Name  Country Code  2.019000e+03
4                  Aruba           ABW           NaN
5            Afghanistan           AFG  1.929110e+10
6                 Angola           AGO  8.881570e+10
7                Albania           ALB  1.527918e+10
8                Andorra           AND  3.154058e+09
9             Arab World           ARB  2.817410e+12
10  United Arab Emirates           ARE  4.211420e+11
11             Argentina           ARG  4.454450e+11
12               Armenia           ARM  1.367280e+10
13        American Samoa           ASM           NaN
14   Antigua and Barbuda           ATG  1.661963e+09

In [16]:
#get just desired columns
#pop
pop_pop_2019 = []
pop_country_2019 = []
pop_code_2019 = []

counter = len(pop_raw_df["2019"])
#print(counter)

for i in np.arange(counter):
    pop = pop_raw_df["2019"][i]
    pop_pop_2019.append(pop)  
    country = pop_raw_df["Country Name"][i]
    pop_country_2019.append(country)
    code = pop_raw_df["Country Code"][i]
    pop_code_2019.append(code)
    
pop_raw_2019_df = pd.DataFrame({"Country": pop_country_2019,
                                "Code": pop_code_2019,
                                "2019 Population":pop_pop_2019
                                })

pop_raw_2019_df.head(15)

                 Country Code  2019 Population
0                  Aruba  ABW         106314.0
1            Afghanistan  AFG       38041754.0
2                 Angola  AGO       31825295.0
3                Albania  ALB        2854191.0
4                Andorra  AND          77142.0
5             Arab World  ARB      427870270.0
6   United Arab Emirates  ARE        9770529.0
7              Argentina  ARG       44938712.0
8                Armenia  ARM        2957731.0
9         American Samoa  ASM          55312.0
10   Antigua and Barbuda  ATG          97118.0
11             Australia  AUS       25364307.0
12               Austria  AUT        8877067.0
13            Azerbaijan  AZE       10023318.0
14               Burundi  BDI       11530580.0

In [12]:
#get just desired columns
#locs
locs_lat_2019 = []
locs_lon_2019 = []
locs_country_2019 = []
locs_state_2019 = []

counter = len(locs_raw_df["Country/Region"])
#print(counter)

for i in np.arange(counter):
    lat = locs_raw_df["Lat"][i]
    locs_lat_2019.append(lat)  
    lon = locs_raw_df["Long"][i]
    locs_lon_2019.append(lon)
    country = locs_raw_df["Country/Region"][i]
    locs_country_2019.append(country)
    state = locs_raw_df["Province/State"][i]
    locs_state_2019.append(state)
    
locs_raw_2019_df = pd.DataFrame({"Country": locs_country_2019,
                                "State": locs_state_2019,
                                "Latitude":locs_lat_2019,
                                 "Longitude":locs_lon_2019
                                })

locs_raw_2019_df.head(15)

                Country                         State  Latitude   Longitude
0           Afghanistan                           NaN  33.93911   67.709953
1               Albania                           NaN  41.15330   20.168300
2               Algeria                           NaN  28.03390    1.659600
3               Andorra                           NaN  42.50630    1.521800
4                Angola                           NaN -11.20270   17.873900
5   Antigua and Barbuda                           NaN  17.06080  -61.796400
6             Argentina                           NaN -38.41610  -63.616700
7               Armenia                           NaN  40.06910   45.038200
8             Australia  Australian Capital Territory -35.47350  149.012400
9             Australia               New South Wales -33.86880  151.209300
10            Australia            Northern Territory -12.46340  130.845600
11            Australia                    Queensland -27.46980  153.025100
12            Australia               South Australia -34.92850  138.600700
13            Australia                      Tasmania -42.88210  147.327200
14            Australia                      Victoria -37.81360  144.963100