In [45]:
import json
import requests 
import numpy as np
import requests
from scipy.stats import linregress
import pprint as pprint
import pandas as pd
import datetime
import matplotlib.pyplot as plt
from citipy import citipy
# from api_keys import weather_api_key
# from api_keys import g_key
import time as time
#import wget as wget

In [46]:
file_to_load = 'covid_19_data.csv'
covid_19 = pd.read_csv(file_to_load)
confirmed_19_df = pd.DataFrame(covid_19)
# del confirmed_19_df["Unnamed: 0"]
confirmed_19_df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,1/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,1/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,1/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,1/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,1/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0
...,...,...,...,...,...,...,...,...
306424,306425,5/29/2021,Zaporizhia Oblast,Ukraine,5/30/2021 4:20,102641,2335,95289
306425,306426,5/29/2021,Zeeland,Netherlands,5/30/2021 4:20,29147,245,0
306426,306427,5/29/2021,Zhejiang,Mainland China,5/30/2021 4:20,1364,1,1324
306427,306428,5/29/2021,Zhytomyr Oblast,Ukraine,5/30/2021 4:20,87550,1738,83790
306428,306429,5/29/2021,Zuid-Holland,Netherlands,5/30/2021 4:20,391559,4252,0

In [47]:
del confirmed_19_df["SNo"]
del confirmed_19_df["Province/State"]
del confirmed_19_df["Last Update"]
confirmed_19_df.rename({"ObservationDate":"Date"}, axis=1, inplace=True)
confirmed_19_df

             Date  Country/Region  Confirmed  Deaths  Recovered
0       1/22/2020  Mainland China          1       0          0
1       1/22/2020  Mainland China         14       0          0
2       1/22/2020  Mainland China          6       0          0
3       1/22/2020  Mainland China          1       0          0
4       1/22/2020  Mainland China          0       0          0
...           ...             ...        ...     ...        ...
306424  5/29/2021         Ukraine     102641    2335      95289
306425  5/29/2021     Netherlands      29147     245          0
306426  5/29/2021  Mainland China       1364       1       1324
306427  5/29/2021         Ukraine      87550    1738      83790
306428  5/29/2021     Netherlands     391559    4252          0

[306429 rows x 5 columns]

In [48]:
# Date from sting to datetime
confirmed_19_df['Date'] = pd.to_datetime(confirmed_19_df['Date'])
confirmed_19_df.dtypes

Date              datetime64[ns]
Country/Region            object
Confirmed                  int64
Deaths                     int64
Recovered                  int64
dtype: object

Global By Country and Month

In [49]:
confirmed_19_df_month_country = confirmed_19_df.set_index("Date").groupby("Country/Region").resample("M")
confirmed_19_df_month_country = confirmed_19_df_month_country.sum()

In [50]:
confirmed_19_df_month_country.to_csv('COVID19_by_country_month.csv')

In [51]:
confirmed_19_dfv2 = confirmed_19_df
del confirmed_19_dfv2["Country/Region"]

Global By Month

In [52]:
confirmed_19_dfv2 = confirmed_19_dfv2.set_index("Date").resample("M")
confirmed_19_dfv2 = confirmed_19_dfv2.sum()

In [53]:
confirmed_19_dfv2.to_csv('COVID-19-by-month.csv')